@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.todos {
  font-family: 'Noto Sans', sans-serif;
    color: black;
    margin: 5px;
    font-size: 20px;
    width: 100%;
  }

.ButtonEdit, .ButtonDelete, .ButtonReady {
  margin-left: 5px;
}

.ButtonEdit:hover {
  background-color: rgb(55, 55, 226);
  color: white;
}


.ButtonDelete:hover {
  background-color: red;
  color: white;

}

.ButtonReady:hover {
  background-color: rgb(62, 224, 62);
  color: white;
}

