@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.todosItem {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: 14px;
    list-style-type: none;
background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 2px;
  }

.ButtonEdit, .ButtonDelete, .ButtonReady {
  margin-left: 5px;
}


